@page
@model Forma1Teams.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    Team name
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FoundationSort">
                    Year of foundation
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.WinSort">
                    Number of won world championships
                </a>
            </th>
            <th>
                Is entry fee paid
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teams) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfFoundation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorldChampionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFeePaid)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeamID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-page="Create">Create New Team</a>
</p>
